*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Button{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 5px 0px #0000003f;
    color: white;
    position: relative;
    z-index: 1;
}
.Button::before{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;

}
.Button:hover::before{
    transform: scaleX(1);
}