*{
    /* margin: 0%; */
    padding: 0%;
}
.container{
    height: 200px;
    width: 100%;
    border: solid black ;
    background-color: rgb(190, 215, 223);
}
.box{
    height: 200px;
    width: 35%;
    border: solid burlywood;
    /* background-color: orange; */
    animation-name: adarsh;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    
}
@keyframes adarsh{
    from{
        width: 40%;
        background-color: red;
    }
    to{
        width: 100%;
        background-color: palevioletred;
    }
}